h1 { 
    font-family: "Miss Fajardose";
    font-size: 20vw;
    animation: 3s linear 1s infinite running slide-in;
}
h2 {
    font-family: "New Rocker";
    position: relative;
}

body {
    background-color: black;
    text-align: center;
    color: white;
    background-image: url(./images/teller.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.logo {
    height: 10vw;
}

/* Text Formatting */

.miss-fajardose-regular {
  font-family: "Miss Fajardose", cursive;
  font-weight: 400;
  font-style: normal;
}
.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
   background: linear-gradient(to right, #4c4b4d, #45209c);
    background-clip: text;
    color: transparent;
}

@keyframes slide-in {
0%, 100% { opacity: 0; }
50% { opacity: 1; } 

}

/*Div formatting*/



/*image formatting inside containers*/

/* .container {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.features {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: minmax(auto, auto);
    margin-left: auto;
    margin-bottom: 2px;
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
}
.img {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
} */